:root {
  --primary-color: #0056b3; /* Deep Blue */
  --primary-gradient-start: #0056b3;
  --primary-gradient-end: #003f7f;
  --hero-background-start: #e0f2f7; /* Light Blue */
  --hero-background-end: #b2ebf2;
  --text-dark: #343a40; /* Dark Gray */
  --text-light: #ffffff; /* White */
  --light-bg: #f8f9fa; /* Very Light Gray */
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark); /* Default text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}